<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>食材の下処理</title>
</head>

<body>
	<nav>
		<ul>
			<li><a th:href="@{/login}">ログイン</a></li>
			<li><a th:href="@{/signup}">会員登録</a></li>
		</ul>
		<ul>
			<li><a th:href="@{/posting}">投稿する</a></li>
		</ul>
	</nav>
	<h2>HOME</h2>
	<ul>
		<li>
			<select onchange="location.href=value;">
				<option th:value="@{/login}">玉ねぎ</option>
				<option th:value="@{/login}">にんじん</option>
			</select>
			<img th:src="@{/images/野菜集合.jpg}">
		</li>
		<li></li>
		<li></li>
	</ul>
</body>

</html>